
<header class="top-bar">
    <!-- Website Title -->

    <h1 class="main-title">Papiertechnik.at</h1>


    <!-- Navigation Icons -->
    <nav class="icon-container" aria-label="Hauptnavigation">
        <!-- Link zur Hauptseite -->
        <div class="icon-wrapper">
            <a href="../index.html" aria-label="Zur Startseite">
                <img src="../images/icon_factory.png" alt="Start" class="nav-image">
            </a>
            <span class="nav-text">Start</span>
        </div>

        <!-- Link zur Lernseite -->
        <div class="icon-wrapper">
            <a href="../pages/learning.html" aria-label="Zur Lernseite">
                <img src="../images/icon_books.png" alt="Lernen" class="nav-image">
            </a>
            <span class="nav-text">Lernen</span>
        </div>

        <!-- Link zur Links-Seite -->
        <div class="icon-wrapper">
            <a href="../pages/link.html" aria-label="Zu Links">
                <img src="../images/icon_link_jl.png" alt="Links" class="nav-image">
            </a>
            <span class="nav-text">Links</span>
        </div>

        <!-- Link zur Kontaktseite -->
        <div class="icon-wrapper">
            <a href="../pages/contact.html" aria-label="Zur Kontaktseite">
                <img src="../images/icon_email_jl.png" alt="Kontakt" class="nav-image">
            </a>
            <span class="nav-text">Kontakt</span>
        </div>
    </nav>

<!--Star: Hauptbild mit Navigationsfeld -->
<img src="../images/papiertechnik_logo_5.png" alt="Papiertechnik Übersicht" usemap="#papiertechnik-map" class="image-map">

<map name="papiertechnik-map">
   <area shape="rect" coords="0,0,600,400" href="pages/learning.html" alt="Learning" title="Learning"><!--Link zu E-Learning ZF-->
   <area shape="rect" coords="600,0,850,400" href="pages/contact.html" alt="Contact" title="Contact"><!--Link zu E-Learning PAT-->
   <area shape="rect" coords="850,0,1370,400" href="pages/review.html" alt="Review" title="Review"><!--Link zu E-Learning Ausr.-->
</map>
<!-- Ende: Hauptbild mit Navigationsbereich-->


<!-- ===================================
Ende: Header-Bereich
=================================== -->



</header>
