
<div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
    <a href="../index.html">
        <img src="../images/icon_books.png" alt="Learning Icon" class="sidebar-image"> Startseite
    </a>
    <a href="../pages/learning.html">
        <img src="../images/icon_books.png" alt="Learning Icon" class="sidebar-image"> Learningcenter
    </a>
    <a href="../pages/learning.html">
        <img src="../images/icon_books.png" alt="Quiz Icon" class="sidebar-image"> Quizseite
    </a>
    <a href="../pages/learning.html">
        <img src="../images/icon_books.png" alt="Kontakt Icon" class="sidebar-image"> Contact
    </a>
</div>
<button class="openbtn" onclick="openSidebar()">☰ Menü</button>
