





.button_navigation{

  display: flex; /* Flexbox aktivieren */
  align-items: center; /* Vertikale Zentrierung */
  justify-content: center; /* Horizontale Zentrierung */
  padding: 10px 20px;
  background-color: #708090;
  margin: 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 15em;
  height: 5em;
  font-size: 1em;
  cursor: pointer;
}

.grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            margin: 20px auto;
            max-width: 90%;
        }
        .grid img {
            width: 100%;
            height: auto;
            cursor: pointer;
            object-fit: cover;
            border: 2px solid #ccc;
        }
        /* Modal-Styling */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }

        .modal img {
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;
        }

        /* Schließen-Symbol */
        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 40px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }

        .close:hover {
            color: #f00;
        }
