body{


  font-family: "Yaldevi", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}




#ueberschrift_lernmodul {
      font-size: 3rem;
      color: white;
      margin-top: 2px;
      text-align: center;
      line-height: 1.2;
  }

  .top-bar_auswahl {
      width: 100%;
      height: 150px; /* Erhöhte Höhe des Balkens */
      background-color: #2d0879;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      position: relative;
      z-index: 10;
  }

@media (max-width: 768px) {

  #ueberschrift_lernmodul {
        font-size: 1rem;
        color: white;
        margin-top: 2px;
        text-align: center;
        line-height: 1.2;
    }


}
